* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-login {
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
}
.container-login .form-1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 40%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3);
}
.form-1 h1 {
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 1.5rem;
}
.container-login {
    input {
        border: none;
        outline: none;
        border-bottom: 1px solid;
        background: none;
        margin: 0.9rem 2rem;
        font-size: 1rem;
    }
    label {
        margin: 0 2rem;
    }
    span {
        margin: 0 2rem;
        color: blue;
        cursor: pointer;
    }
    .button-login {
        margin: 2rem;
        margin-bottom: 1.5rem;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 1rem;
        border: none;
        font-size: 1.1rem;
        font-weight: bolder;
        color: #fff;
        background: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    }
}

/* ........///Sign-Up///......... */
p {
    text-align: center;
    font-weight: bolder;
}
.icons {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 0.5rem;
}
.icons a {
    text-decoration: none;
    font-size: 1rem;
    margin: 0.2rem;
}
.icons .fa-facebook-f {
    border-radius: 50%;
    background: #5d75ab;
    color: #fff;
    padding: 1rem;
}
.icons .fa-twitter {
    border-radius: 50%;
    background: #1da1f2;
    color: white;
    padding: 1rem;
}
.icons .fa-google {
    border-radius: 50%;
    background: #ee5645;
    color: #fff;
    padding: 1rem;
}
/* ....///Media query///..... */
@media (max-width: 501px) {
    html {
        font-size: 15px;
    }
    .container-login .form-1 {
        width: 300px;
    }
}
@media (min-width: 501px) and (max-width: 768px) {
    html {
        font-size: 14px;
    }
    .container-login .form-1 {
        width: 450px;
    }
}
@media (min-width: 765px) and (max-width: 1200px) {
    html {
        font-size: 18px;
    }
    .container-login .form-1 {
        width: 540px;
        height: 550px;
    }
}
@media (orientation: landscape) and (max-height: 500px) {
    .container-login {
        height: 100vmax;
    }
}
header{

}
#product{
    .title{
        h4{
            display: inline-block;
            width: 50%;
        }
        .btn-create-products{
            display: inline-block;
            width: 49%;
            text-align: right;
        }
    }
    .table{
        .img_product{
            img{
                height: 50px;
            }

        }
    }

}
#creat-product{
    .img_product1{
        img{
            height: 100%;
        }
        height: 150px;

    }
}
#home-slide{
    .title{
        h4{
            display: inline-block;
            width: 50%;
        }
        .btn-create-slide{
            display: inline-block;
            width: 49%;
            text-align: right;
        }
    }
    .table{
        .img_product{
            img{
                height: 50px;
            }
        }
    }
}
#creat-slide{
    .img_product1{
        img{
            height: 100%;
        }
        height: 150px;

    }
}

#home-news{
    .title{
        h4{
            display: inline-block;
            width: 50%;
        }
        .btn-create-news{
            display: inline-block;
            width: 49%;
            text-align: right;
        }
    }
    .table{
        .img_product{
            img{
                height: 50px;
            }
        }
    }
}
#creat-news{
    .img_product1{
        img{
            height: 100%;
        }
        height: 150px;

    }
}
