body {
    position: relative;
}
#header {
    position: sticky;
    top: 0;
    z-index: 9;
    box-shadow: #000 1px 1px 10px;
    .container-fluid {
        background: white;
        header.container {
            nav {
                .navbar-brand {
                    img {
                        width: 45%;
                    }
                }

                div.collapse {
                    a {

                    }
                    .dropdown-submenu {
                        position: relative;
                    }

                    .dropdown-submenu a::after {
                        transform: rotate(-90deg);
                        position: absolute;
                        right: 6px;
                        top: .8em;
                    }

                    .dropdown-submenu .dropdown-menu {
                        top: 0;
                        left: 100%;
                        margin-left: .1rem;
                        margin-right: .1rem;
                    }

                }
                .cart {
                    position: relative;
                    .fas {
                        font-size: 35px;
                    }
                    .cart-number-badge {
                        position: absolute;
                        font-size: 0.8125rem;
                        size: -4px;
                        padding: 0 .3125rem;
                        min-width: .6875rem;
                        border-radius: 2.75rem;
                        background-color: black;
                        margin-right: -8px;
                        right: 0;
                        top: -8px;
                        color: white;
                    }
                }
            }
        }
    }
}
#section1 {
    text-transform: capitalize;
    .container-fluid {
        .row {
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        transition: transform 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}
#section2 {
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 66px;
    width: 100%;
    .container {
        .row {
            a.cms-banner {
                overflow: hidden;
                position: relative;
                display: inline-block;
                .banner-data {
                    //padding: 6px;
                    transition: all 0.3s;
                    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
                    position: absolute;
                    left: 20px;
                    right: 20px;
                    bottom: 20px;
                    margin: auto;
                    text-align: center;
                    overflow: hidden;
                    color: #333;
                    font-size: 20px;
                    &:hover {
                        background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
                    }
                    .banner-title {
                    }
                    .banner-subtitle {
                        font: 600 20px Poppins, Helvetica, sans-serif;
                        text-transform: capitalize;
                        display: inline-block;
                    }
                }
            }
        }
    }
}
#section3 {
    text-transform: capitalize;
    margin-bottom: 50px;
    position: relative;
    .container {
        .row {
            .top {
                text-align: center;
                padding-top: 10px;
                position: relative;
                .product-top {
                    position: relative;
                    .icon_img {
                        position: absolute;
                        width: 65px;
                        right: 0px;
                        z-index: 3;
                    }
                }
            }
            .bottom {
                text-align: center;
                padding-top: 20px;
                position: relative;
                .product-bottom {
                    position: relative;
                    .icon_img {
                        position: absolute;
                        width: 65px;
                        right: 0px;
                        z-index: 3;
                    }
                }
            }
        }
    }
}
#section5 {
    text-transform: capitalize;
    margin-bottom: 50px;
    .container {
        .row {
            .product-selling {
                padding-top: 10px;
                position: relative;
                text-align: center;
                .product-top {
                    position: relative;
                    .icon_img {
                        position: absolute;
                        width: 65px;
                        right: 0px;
                        z-index: 3;
                    }
                }
            }
        }
    }
}
#section6 {
    text-transform: capitalize;
    margin-bottom: 60px;
    position: relative;
    .container {
        .row {
            .product-news {
                text-align: center;
                padding-top: 10px;
                position: relative;
                .product-top {
                    position: relative;
                    .icon_img {
                        position: absolute;
                        width: 65px;
                        right: 0px;
                        z-index: 3;
                    }
                }
            }
            .top {
                text-align: center;
                padding-top: 10px;
                position: relative;
                .product-top {
                    position: relative;
                    .icon_img {
                        position: absolute;
                        width: 65px;
                        right: 0px;
                        z-index: 3;
                    }
                }
            }
        }
    }
}
#product_detail {
    text-transform: capitalize;
    background: #fff;
    position: relative;
    .img_top {
        position: relative;
        .zoom {
            .img_detail {
                width: 500px;
                //img {
                //    transition: opacity .5s;
                //    display: block;
                //    width: 100%;
                //}
                //img:hover {
                //    opacity: 0;
                //}

            }
        }

    }
    .tabs-content {
        position: relative;
        border: 1px solid #e5e5e5;
        clear: both;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 12px 20px 20px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 15px;
            position: relative;
            border-bottom: 1px solid #e5e5e5;
            text-align: left;
            li {
                display: inline-block;
                float: none;
                margin: 0 5px 0 0;
                a {
                    color: #111;
                    padding: 8px 15px 8px 0;
                    text-transform: uppercase;
                    line-height: normal;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
    .related {
        text-align: center;
        padding-top: 10px;
        position: relative;
        .product-related {
            position: relative;
            .icon_img {
                position: absolute;
                width: 65px;
                right: 0px;
                z-index: 3;
            }
        }
    }
}
#product_list {
    text-transform: capitalize;
    position: relative;
    background: #fff;
    .toolbar {
        background: #f5f5f5;
        padding: 10px;
    }
    .list {
        text-align: center;
        padding-top: 10px;
        position: relative;
        .product-list {
            position: relative;
            .icon_img {
                position: absolute;
                width: 65px;
                right: 0px;
                z-index: 3;
            }
        }
    }
}
#cart {
    td {
        input {
            width: 64px;
            text-align: center;
            height: 30px;
            border-radius: 3px;
            font-size: 14px;
            color: #808080;
            border: 1px solid #ccc;
            outline: none;
            padding-left: 15px;
        }
    }
}
#introduce{
    background: white;
    .block-about-top{
        margin-bottom: 50px;
    }
    .block-about-text{
        .row{
            margin-bottom: 60px;
        }

        p{
            margin-top: 0;
            margin-bottom: 15px;
            font-size: 18px;
            line-height: 1.6;
            font-weight: 400;
        }
        h2, h3{
            display: block;
            font-size: 2.0em;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

    }
}
#news{
    .post-title{
        a{
            color: black;
        }
        text-transform: uppercase;
        padding-top: 25px;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 10px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-height: 96px;
    }
}
#details_news{
    .details-news-right{
        .post-title{
            display: block;
            font-weight: 900;
            font-size: 24px;
            line-height: 29px;
            margin: 0 0 5px;
        }
        .post-meta{
            margin-bottom: 25px;
            line-height: 15px;
        }
    }
    .details-news-left{
        .post-title{
            a{
                color: black;
            }
            text-transform: uppercase;
            padding-top: 20px;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            margin: 0 0 10px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            max-height: 96px;
        }
    }
}

#pay{
    .content-box{
        box-shadow: 0 0 0 1px #d9d9d9;
        border-radius: 4px;
        background: #fff;
        .radio-input{
            display: flex;
            cursor: pointer;
            align-items: center;
            padding: 1.3em;
            width: auto;
            .radio-label{
                padding-left: 10px;
            }
        }
    }
    .content-box-2{
        box-shadow: 0 0 0 1px #d9d9d9;
        border-radius: 4px;
        background: #fff;
        .radio-input-2{
            display: flex;
            cursor: pointer;
            align-items: center;
            padding: 1.3em;
            width: auto;
            .radio-label-2{
                padding-left: 10px;
            }
        }
        .radio-input-3{
            display: flex;
            cursor: pointer;
            align-items: center;
            padding: 1.3em;
            width: auto;
            .radio-label-3{
                padding-left: 10px;
            }
        }
    }
}

#payment_methods{
    .content-box{
        box-shadow: 0 0 0 1px #d9d9d9;
        border-radius: 4px;
        background: #fff;
        .radio-input{
            display: flex;
            cursor: pointer;
            align-items: center;
            padding: 1.3em;
            width: auto;
            .radio-label{
                padding-left: 10px;
            }
        }
    }
    .content-box-2{
        box-shadow: 0 0 0 1px #d9d9d9;
        border-radius: 4px;
        background: #fff;
        .radio-input-2{
            display: flex;
            cursor: pointer;
            align-items: center;
            padding: 1.3em;
            width: auto;
            .radio-label-2{
                padding-left: 10px;
            }
        }
        .radio-input-3{
            display: flex;
            cursor: pointer;
            align-items: center;
            padding: 1.3em;
            width: auto;
            .radio-label-3{
                padding-left: 10px;
            }
        }
    }
}


footer {
    background-color: #f4f4f4;
    //color: #666;
    bottom: 0;
    .container {
        .footer-top {
            .footer-content1 {
                .toggle-footer {
                    ul {
                        padding-left: 0;
                        li {
                            list-style-type: none;
                            line-height: 28px;
                            a {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
        .footer-bottom {
            text-align: center;
        }
    }
}
img {
    max-width: 100%;
}
h2.home-title {
    text-align: center;
    text-transform: uppercase;
}
.hover-image {
    overflow: hidden;
    img {
        transition: all 0.5s;
        transform: scale(1);
    }
    &:hover {
        img {
            transform: scale(1.3);
        }
    }
}
.swap-on-hover {
    position: relative;
    img.swap-on-hover__front-image {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    .swap-on-hover__front-image {
        z-index: 1;
        opacity: 1;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    &:hover {
        .swap-on-hover__front-image {
            opacity: 0;
        }
    }
}
.product {
    position: relative;
    .product-name {
        margin: 0;
        display: block;
        line-height: 19px;
        font-size: 16px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        a {
            color: black;
        }
    }
    .price-box {
        font-weight: 800;
    }
}
button {
    span {
        a {
            color: black;
            font-weight: 500;
            font-size: 15px;
        }
    }
}
.product-discount {
    background-color: rgb(255, 66, 78);
    color: rgb(255, 255, 255);
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    /* border-radius: 4px 0px 26px; */
    padding: 2px 8px 4px 2px;
}
.brick {
    text-decoration: line-through;
    font-weight: 400;
}

// them css trong trang product_detail chi tiết sản phẩm








